annotated-types
anyio
build
certifi
charset-normalizer
click
contourpy
coverage
cycler
exceptiongroup
fastapi
flake8
flake8-pyproject
fonttools
h11
idna
importlib_metadata
importlib_resources
iniconfig
joblib
jinja2
kiwisolver
matplotlib
mccabe
msgpack
mypy
mypy_extensions
numpy
openpyxl
opfunu
packaging
pandas
pillow
pluggy
pycodestyle
pydantic
pydantic_core
pyDOE
pyflakes
pyparsing
pyproject_hooks
pytest
pytest-cov
pytest-env
pytest-html
python-dateutil
pyvista
psutil
PyYAML
requests
ruamel-yaml
seaborn
scienceplots
scikit-learn
scipy
setproctitle
six
sniffio
starlette
tabulate
threadpoolctl
tomli
tqdm
types-PyYAML
types-tabulate
types-requests
typing-inspection
typing_extensions
urllib3
uvicorn
wrapt
zipp
